body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/bg1.png');
    margin: 0;
}

/* Both form boxes (left and right) */
.form-box {
    width: 24rem;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px dashed #000;
    position: relative;
    transition: transform 0.5s ease;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    font-size: 2rem;
}

.form-box p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 1.1rem;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-box input {
    font-size: 18px;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
}

.form-box button {
    text-transform: uppercase;
    padding: 14px 60px;
    background-color: #FAFF06;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.form-box button:hover {
    background-color: #d8dc07;
}

.form-box a {
    text-align: right;
    margin: 14px 0;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box .form-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.form-box .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-box .form-footer label {
    font-size: 14px;
    color: #555;
    display: flex;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

.form-box .form-footer input {
    margin-top: 14px;
    margin-right: 5px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #000;
    width: 100%;
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

.toggle-password:hover {
    color: #555;
}

.terms-checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.terms-checkbox input {
    margin: 8px;
}

.terms-checkbox label {
    font-size: 14px;
    color: #555;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.terms-checkbox a {
    color: #007bff;
    text-decoration: none;
}