body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #444;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 0;
  color: white;
  border: 2px solid #dee807; /* Add a 2px border around the navbar */
  width: 80%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the navbar */
}

.navbar a {
  text-decoration: none;
  color: #000;
  background-color: #dee807;
  padding: 10px 15px;
  border-radius: 15px;
}

.nav-item {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  text-align: left; /* Align the text to the left */
}

.profile-info-container {
  flex: 1;
  margin-right: 20px;
}

.meal-plan-section,
.workouts-section,
.calculate-section {
  margin-top: 20px;
}

.meal-plan-section h2,
.workouts-section h2,
.calculate-section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.meal-plan-dropdown,
.workout-plan-dropdown {
  text-align: left;
  margin-bottom: 20px;
}

.meal-plan-dropdown select,
.workout-plan-dropdown select {
  padding: 5px;
  font-size: 16px;
}

.meal-plan-content,
.workout-plan-content {
  background-color: #000; /* Black background for content */
  padding: 20px;
  border-radius: 8px;
  color: #fff; /* White text color */
}

.meal-plan-content h3,
.workout-plan-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f7eb98;
}

.meal-type,
.workout-type {
  margin-bottom: 20px;
}

.meal-type h4,
.workout-type h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.meal-type p,
.workout-type p {
  font-size: 16px;
  margin: 5px 0;
}

.totals {
  margin-top: 20px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-info {
  color: #fff;
}

.profile-info,
.nutrition-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

/* Nutrition Info */
.nutrition-info {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.nutrition-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.nutrition-label,
.nutrition-data {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  height: 50px;
}

.nutrition-label {
  width: 150px;
  background-color: #efeeef;
  font-weight: bold;
  z-index: 2 !important;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  text-align: center;
}

.nutrition-data {
  font-weight: bold;
  margin-left: -10px;
  text-align: center;
  background-color: #e2ecda;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  z-index: 1;
  clip-path: polygon(11% 50%, 0 0, 100% 0, 100% 100%, 0% 100%);
}

.nutrition-range {
  font-weight: normal;
  color: #888;
  font-size: 0.9em;
  position: absolute;
  right: 14px;
  top: 55%;
  transform: translateY(-50%);
}

.real-time-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0; /* Remove top margin */
}

.meal-today,
.workout-today {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.meal-today h2,
.workout-today h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.meal-today-content,
.workout-today-content {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
